## This file contains the differences to imx_v8_defconfig
## it is used to generate toradex_defconfig with the following command
##
## make imx_v8_defconfig
## scripts/kconfig/merge_config.sh -m .config arch/arm64/configs/toradex_imx_v8.config
## make savedefconfig && cp defconfig arch/arm64/configs/toradex_defconfig


##
## Section to enable kernel features
##

# Compression method used for our kernels
CONFIG_CRYPTO_LZ4=y
CONFIG_KERNEL_LZ4=y

# Systemd, https://github.com/systemd/systemd/blob/main/README
CONFIG_DEVTMPFS=y
CONFIG_CGROUPS=y
CONFIG_INOTIFY_USER=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_UNIX=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_FHANDLE=y
CONFIG_SYSFS_DEPRECATED=n
CONFIG_UEVENT_HELPER=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_NET_NS=y
CONFIG_NAMESPACES=y
CONFIG_USER_NS=y
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_CGROUP_BPF=y
CONFIG_RT_GROUP_SCHED=n

# RTC widely used on Toradex eval-boards
CONFIG_RTC_DRV_DS1307=y

# ADC used on Verdin boards
CONFIG_TI_ADS1015=y

# CAN used on Toradex eval-boards
CONFIG_CAN_MCP251X=m
CONFIG_CAN_MCP251XFD=m

# USB hub used on modules and or eval-boards
CONFIG_USB_HUB_USB251XB=y

# Support HID devices
# This suppresses also the warning "hid-generic: device has no listeners, quitting"
CONFIG_USB_HIDDEV=y

# Apalis-iMX8 HDMI, compile HDMI TX as a module, remove unaccessible HDMI RX
CONFIG_DRM_IMX_CDNS_MHDP=m
CONFIG_DRM_CDNS_MHDP=m
CONFIG_DRM_CDNS_HDCP=m
CONFIG_DRM_CDNS_HDMI_CEC=m
CONFIG_MHDP_HDMIRX=n
CONFIG_MHDP_HDMIRX_CEC=n

# Verdin iMX8MP DSI Bridge
# make it a module, otherwise with e.g. native HDMI enabled the kernel
# doesn't boot
CONFIG_DRM_IMX_SEC_DSIM=m
CONFIG_DRM_SEC_MIPI_DSIM=m

# Verdin DSI to LVDS Adapter
CONFIG_DRM_TI_SN65DSI83=m

# Wi-Fi and Bluetooth used on modules plus related useful settings
CONFIG_BT_HCIBTSDIO=m
CONFIG_BT_HCIBTUSB=m
CONFIG_BT_HCIUART_MRVL=y
CONFIG_BT_HCIUART=m
CONFIG_BT_HCIVHCI=m
CONFIG_BT_MRVL_SDIO=m
CONFIG_BT_MRVL=m
CONFIG_BT_RFCOMM=m
CONFIG_BT=m
CONFIG_CFG80211=m
CONFIG_MAC80211=m
CONFIG_MWIFIEX_PCIE=m
CONFIG_MWIFIEX_SDIO=m
CONFIG_MWIFIEX_USB=m
CONFIG_MWIFIEX=m
CONFIG_R8188EU=m
CONFIG_RFKILL_GPIO=m
CONFIG_RFKILL=m

# Extcon used for dual-role USB switching
CONFIG_EXTCON_GPIO=y

# Gadgetfs is used for RNDIS (Ethernet over USB device)
CONFIG_USB_GADGETFS=m

# Filesystems widely used
CONFIG_NTFS_FS=m
CONFIG_NTFS_RW=y

# Ease debugging since this config is used to produce a reference image only
CONFIG_DYNAMIC_DEBUG=y

# Load SDMA as a module to prevent errors/timeouts on boot
CONFIG_IMX_SDMA=m

# Needed for Toradex Easy Installer
CONFIG_BLK_BLK_DEV_RAM_COUNT=10
CONFIG_BLK_DEV_RAM_SIZE=65536
CONFIG_BLK_DEV_RAM=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS=y

# Audio for Verdins
CONFIG_SND_SOC_NAU8822=m
CONFIG_SND_SOC_WM8904=m
CONFIG_SENSORS_LM75=m

# EEPROM support for Verdins
CONFIG_EEPROM_AT24=y

# Miscellaneous configs
CONFIG_CAN_J1939=m
CONFIG_CAN_VCAN=m
CONFIG_GPIO_SYSFS=y
CONFIG_PPS_CLIENT_GPIO=m
CONFIG_PPS_CLIENT_LDISC=m
CONFIG_REGULATOR_VIRTUAL_CONSUMER=y
CONFIG_SENSORS_GPIO_FAN=y
CONFIG_SENSORS_TMP102=m
CONFIG_SND_SOC_SGTL5000=y

# System Control Firmware related configs
CONFIG_IMX_SCU_PD=y
CONFIG_IMX_SCU=y
CONFIG_IMX_SECO_MU=y

# Display related settings
CONFIG_BACKLIGHT_GPIO=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_AD7879_I2C=m
CONFIG_TOUCHSCREEN_AD7879=m
CONFIG_TOUCHSCREEN_ATMEL_MXT=m
CONFIG_TOUCHSCREEN_COLIBRI_VF50=m

# Enable thermal shutdown
CONFIG_THERMAL_STATISTICS=y
CONFIG_THERMAL_EMERGENCY_POWEROFF_DELAY_MS=10000

# Enabling edid
CONFIG_FIRMWARE_EDID=y

##
## Section to disable kernel features
##

# Disable architectures and SoCs not used by Toradex
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_SOC_BRCMSTB=n
CONFIG_SOC_S32V234=n
CONFIG_SOC_TI=n

# Disable as suggested by systemd (not supported)
CONFIG_FW_LOADER_USER_HELPER=n

# Disable NAND as Toradex uses only eMMC on ARM 64bit boards
CONFIG_MTD=n

# Downstream kernel uses proprietary graphics
CONFIG_DRM_ETNAVIV=n

# Disable misc. kernel features not used on this kernel
CONFIG_DRM_NOUVEAU=n
CONFIG_DVB_CORE=n
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_SDR_SUPPORT=n
CONFIG_MEDIA_TUNER=n
CONFIG_NET_DSA=n
CONFIG_NFC=n
CONFIG_OVERLAY_FS=n
CONFIG_RC_CORE=n
CONFIG_MTD_UBI=n
CONFIG_JFFS2_FS=n
CONFIG_UBIFS_FS=n

# Not used PCI drivers
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_PCI_HOST_THUNDER_PEM=n
CONFIG_PCI_LAYERSCAPE=n
CONFIG_PCI_MESON=n
CONFIG_PCI_XGENE_MSI=n
CONFIG_PCI_XGENE=n
CONFIG_PCIE_ALTERA_MSI=n
CONFIG_PCIE_ALTERA=n
CONFIG_PCIE_KIRIN=n
CONFIG_PCIE_MOBIVEIL=n
CONFIG_PCI_ENDPOINT=n

# Not used Graphic Drivers
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_DRM_RCAR_LVDS=n
# Selected by DRM_RCAR_LVDS only
CONFIG_OF_OVERLAY=n
CONFIG_DRM_HISI_HIBMC=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_DRM_PL111=n
CONFIG_DRM_LIMA=n
CONFIG_DRM_PANFROST=n

# Not used Network and Wifi drivers
CONFIG_NET_VENDOR_3COM=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_NET_VENDOR_ALTEON=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_NET_VENDOR_AURORA=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NET_VENDOR_HP=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_NET_VENDOR_NETERION=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_NET_VENDOR_NI=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_NET_VENDOR_PACKET_ENGINES=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_NET_VENDOR_TI=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_WLAN_VENDOR_CISCO=n
CONFIG_WLAN_VENDOR_INTEL=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_WLAN_VENDOR_NXP=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_WLAN_VENDOR_ZYDAS=n

# Disable DSP drivers
CONFIG_IMX_DSP_REMOTEPROC=n
CONFIG_DMABUF_HEAPS_DSP=n
